
.btn-group(uib-dropdown)
    button.btn.btn-default(type="button", uib-dropdown-toggle, ng-disabled="ngDisabled")
        flag(country="{{countryFlagCode($langPickerConf.currentLang)}}")
        | {{$langPickerConf.getCurrentLanguageName() || 'Language'}}
        span.caret(style="margin-left:3px;")
    ul(uib-dropdown-menu="", role="menu")
        li( role="menuitem", 
            ng-repeat="(lang_code, lang_name) in $langPickerConf.languageList",
            ng-click="$langPickerConf.setCurrentLanguage(lang_code)"
            ng-class="{'active': lang_code==$langPickerConf.currentLang}"
        )
                
            a(href="javascript: void 0")    
                flag(country="{{countryFlagCode(lang_code)}}")
                | {{lang_name}}
