li.dropdown(uib-dropdown="")
    a.dropdown-toggle(uib-dropdown-toggle='', style="cursor:pointer;", ng-disabled="attrs.disabled")
        flag(country="{{countryFlagCode($langPicker.currentLang)}}")
        | {{$langPicker.getCurrentLanguageName() || 'Language'}}
        span.caret(style="margin-left:3px;")
    ul.dropdown-menu(uib-dropdown-menu='', role="menu")
        li( role="menuitem", 
            ng-repeat="(lang_code, lang_name) in $langPicker.languageList",
            ng-click="$langPicker.setCurrentLanguage(lang_code)"
            ng-class="{'active': lang_code==$langPicker.currentLang}"
        )
                
            a(href="javascript: void 0")    
                flag(country="{{countryFlagCode(lang_code)}}")
                | {{lang_name}}
